<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
        <title>
            Error
        </title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>{{errorStr}}</h2>
        </div>
        {{>footer}}
    </body>
</html>